
  .sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .sticky .navbar {
      padding: 15px 0; }


  .navbar.active {
    background-color: linear-gradient(90deg, rgba(0,0,0,0.5)0%, rgba(0,0,0,0.8)100%);
  }

  #navbar-nav {
    display: flex;
  }

  nav div ul {
    list-style: none;
  }

  nav div ul li {
    list-style: none;
    outline: white;
    outline-color: white;
    background-color: transparent!important;
    background: transparent!important;

  }
  nav div ul li a{
    list-style: none;
    outline: white;
    outline-color: white;
    color: white;
    border: none;
  }

@media screen and (max-width:991px) {
  #navbar-nav{
    display: none!important;
  }
}

.style1 > .image:before {
  background-color: #f2849e;
}

.style2 > .image:before {
  background-color: #7ecaf6;
}

.style3 > .image:before {
  background-color: #7bd0c1;
}

.style4 > .image:before {
  background-color: #c75b9b;
}

.style5 > .image:before {
  background-color: #ae85ca;
}

.style6 > .image:before {
  background-color: #8499e7;
}
