
  .sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .sticky .navbar {
      padding: 15px 0; }


  .navbar.active {
    background-color: linear-gradient(90deg, rgba(0,0,0,0.5)0%, rgba(0,0,0,0.8)100%);
  }

  #navbar-nav {
    display: flex;
  }

  nav div ul {
    list-style: none;
  }

  nav div ul li {
    list-style: none;
    outline: white;
    outline-color: white;
    background-color: transparent!important;
    background: transparent!important;

  }
  nav div ul li a{
    list-style: none;
    outline: white;
    outline-color: white;
    color: white;
    border: none;
  }

@media screen and (max-width:991px) {
  #navbar-nav{
    display: none!important;
  }
}

.style1 > .image:before {
  background-color: #f2849e;
}

.style2 > .image:before {
  background-color: #7ecaf6;
}

.style3 > .image:before {
  background-color: #7bd0c1;
}

.style4 > .image:before {
  background-color: #c75b9b;
}

.style5 > .image:before {
  background-color: #ae85ca;
}

.style6 > .image:before {
  background-color: #8499e7;
}


  /*
  .navbar {
    padding: 20px 0;
    border-radius: 5px;
    position: fixed;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  
  .navbar-brand {
    padding: 0; }
    .navbar-brand img {
      width: 150px; }
  
  .navbar-toggler {
    padding: 0; }
    .navbar-toggler .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: #fff;
      display: block;
      margin: 5px 0;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .navbar-toggler.active .toggler-icon:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px; }
    .navbar-toggler.active .toggler-icon:nth-of-type(2) {
      opacity: 0; }
    .navbar-toggler.active .toggler-icon:nth-of-type(3) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      top: -7px; }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 5px 12px; } }
  
  @media (max-width: 767px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      padding: 5px 12px; } }
  
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 40px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .navbar-nav .nav-item {
        margin-left: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item {
        margin: 0; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item {
        margin: 0; } }
    .navbar-nav .nav-item a {
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      padding: 10px 0;
      position: relative; }
      .navbar-nav .nav-item a::before {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #FFB316;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navbar-nav .nav-item a::before {
            display: none; } }
        @media (max-width: 767px) {
          .navbar-nav .nav-item a::before {
            display: none; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .nav-item a {
          display: block;
          padding: 4px 0;
          color: #222; } }
      @media (max-width: 767px) {
        .navbar-nav .nav-item a {
          display: block;
          padding: 4px 0;
          color: #222; } }
    .navbar-nav .nav-item.active > a::before, .navbar-nav .nav-item:hover > a::before {
      width: 100%; }
    .navbar-nav .nav-item:hover .sub-menu {
      top: 100%;
      opacity: 1;
      visibility: visible; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .nav-item:hover .sub-menu {
          top: 0; } }
      @media (max-width: 767px) {
        .navbar-nav .nav-item:hover .sub-menu {
          top: 0; } }
    .navbar-nav .nav-item .sub-menu {
      width: 200px;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 110%;
      left: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .nav-item .sub-menu {
          position: relative;
          width: 100%;
          top: 0;
          display: none;
          opacity: 1;
          visibility: visible; } }
      @media (max-width: 767px) {
        .navbar-nav .nav-item .sub-menu {
          position: relative;
          width: 100%;
          top: 0;
          display: none;
          opacity: 1;
          visibility: visible; } }
      .navbar-nav .nav-item .sub-menu li {
        display: block; }
        .navbar-nav .nav-item .sub-menu li a {
          display: block;
          padding: 8px 20px;
          color: #222; }
          .navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
            padding-left: 25px;
            color: #FFB316; }
  
  .navbar-nav .sub-nav-toggler {
    display: none; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px; } }
    @media (max-width: 767px) {
      .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px; } }
    .navbar-nav .sub-nav-toggler span {
      width: 8px;
      height: 8px;
      border-left: 1px solid #222;
      border-bottom: 1px solid #222;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: relative;
      top: -5px; }
  
  .sticky .navbar-toggler .toggler-icon {
    background-color: #222; }
  
  .sticky .navbar-nav .nav-item a {
    color: #222; }
  
  .sticky .navbar-nav .nav-item.active > a, .sticky .navbar-nav .nav-item:hover > a {
    color: #FFB316; }
  */