.dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown:hover {
    color: #fff;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0 0;
}

.dropdownContent:hover {
    display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
    color: #fff;
}

.dropdownContent a {
    display: block;
    padding: 1rem;
}

.dropdownContent li {

}

.dropdownContent li:hover, .dropdownContent a:hover {
    background-color: #0a4a89;
    color: white!important;
}

nav ul {

}

nav ul li {
    margin: auto;
}