.BannerSection {
    min-width: 100%;
    width: 100vh;
    /*min-height: 30rem;*/
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 33%, rgba(0, 0, 0, 0.45) 66%, rgba(0, 0, 0, 0.25) 100%), url('');*/
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 33%, rgba(0, 0, 0, 0.45) 66%, rgba(0, 0, 0, 0.25) 100%), var(--image);*/
    background-image: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    position: relative;
    height: 40vh;
}



@media screen and (max-width:1680px) {

}


@media screen and (max-width:1280px) {

}


@media screen and (max-width: 980px) {
    .BannerSection {
        width: 100%;
        min-width: 100%;
        /*min-height: 25rem;*/
        /*background-image: linear-gradient(to bottom, rgba(0, 132, 196, 0.55) 33%, rgba(0, 132, 196, 0.45) 66%, rgba(0, 132, 196, 0.25) 100%), url('');*/
        /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 33%, rgba(0, 0, 0, 0.45) 66%, rgba(0, 0, 0, 0.25) 100%), var(--image);*/
        background-image: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
        background-position: 70% 20%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;
        margin: 0 0 1rem 0;
        padding: 2rem 0 0;
    }
}



@media screen and (max-width: 767px) {


}


@media screen and (max-width:480px) {
    .BannerSection {
        width: 100%;
        min-width: 100%;
        /*min-height: 20rem;*/
        /*background-image: linear-gradient(to bottom, rgba(0, 132, 196, 0.55) 33%, rgba(0, 132, 196, 0.45) 66%, rgba(0, 132, 196, 0.25) 100%), url('');*/
        /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 33%, rgba(0, 0, 0, 0.45) 66%, rgba(0, 0, 0, 0.25) 100%), var(--image);*/
        background-image: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
        background-position: 50% 20%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        margin: 0 auto 0;
        padding: 2rem 0 0;
        height: 20vh;

    }
}



@media screen and (max-width:360px) {

}