// Main scss.

// Import your own bootstrap customizations as variables first.
// @import "./_variables.scss"

// Import bootstrap and bootswatch. Replace "superhero" below with any
// other bootswatch theme name (see https://bootswatch.com/), or remove
// the bootswatch lines for default theme.

// @import "~bootswatch/dist/superhero/variables";
//@import "~bootstrap/scss/bootstrap";
// @import "~bootswatch/dist/superhero/bootswatch";

// Add other customizations below.
/*
.navbar-toggler {
    font-size: 1.5rem;
}

.navbar-toggler-icon {
    height: 2.5em;
    width: 2.5em;
    color: white;
    fill: white;
}*/