
/*===== NAVBAR =====*/
.headerNavbar {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; 
}

.navItem {
    margin-right: 1.5rem;
}

.navItem a {
    text-decoration: none;
    font-weight: 500;
    border-bottom: none;
    color: white;
}

.CTAButton {
    background-color: white!important;
    background: white!important;
    color: #217ebd!important;
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
    border: solid #217ebd 1px!important;
    box-shadow:0px 1px 10px 0px lightgray;
    border-radius: 10px!important;
    padding: 0.75rem 1rem!important;
}

.CTAButton:hover,
.CTAButton:focus,
.CTAButton:active {
  /*background:rgba(204, 174, 161, 1);
  background-color: rgba(204, 174, 161, 1);*/
  background-color: #217ebd!important;
  border: solid #217ebd 1px!important;
    color: white!important;
    border-radius: 50px!important;
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
    box-shadow:0px 1px 10px 0px lightgray;
    padding: 0.75rem 1rem!important;
}
@media screen and (max-width: 780px){
    .CTAButton{
        font-size: 1.5rem!important;
        padding: 1rem 2rem!important;
    }
}


.pickLang {
    font-size: 1rem;
}

@media screen and (max-width: 780px){
    .pickLang {
        font-size: 1.3rem;
    }
}