.Footer {
  /*background-color: rgba(21, 27, 33, 0.6);*/
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
  color: #ffffff;
  /*background-image: url('../images/field-of-flowers.jpg');*/
  background-position:  center bottom;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat, no-repeat;
}

.Footer input,
.Footer select,
.Footer textarea {
  color: #ffffff;
}

.Footer a {
  color: #ffffff;
}

.Footer strong,
.Footer b {
  color: #ffffff;
}

.Footer h1,
.Footer h2,
.Footer h3,
.Footer h4,
.Footer h5,
.Footer h6 {
  color: #ffffff;
}

.Footer blockquote {
  border-left-color: #ffffff;
}

.Footer code {
  background: rgba(255, 255, 255, 0.075);
  border-color: #ffffff;
}

.Footer hr {
  border-bottom-color: #ffffff;
}

.Footer input[type="submit"],
.Footer input[type="reset"],
.Footer input[type="button"],
.Footer button,
.Footer .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.Footer input[type="submit"]:hover,
.Footer input[type="reset"]:hover,
.Footer input[type="button"]:hover,
.Footer button:hover,
.Footer .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.Footer input[type="submit"]:active,
.Footer input[type="reset"]:active,
.Footer input[type="button"]:active,
.Footer button:active,
.Footer .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.Footer input[type="submit"].icon:before,
.Footer input[type="reset"].icon:before,
.Footer input[type="button"].icon:before,
.Footer button.icon:before,
.Footer .button.icon:before {
  color: #ffffff;
}

.Footer input[type="submit"].primary,
.Footer input[type="reset"].primary,
.Footer input[type="button"].primary,
.Footer button.primary,
.Footer .button.primary {
  box-shadow: none;
  background-color: #ffffff;
  color: rgba(21, 27, 33, 0.6);
}

.Footer input[type="submit"].primary.icon:before,
.Footer input[type="reset"].primary.icon:before,
.Footer input[type="button"].primary.icon:before,
.Footer button.primary.icon:before,
.Footer .button.primary.icon:before {
  color: #ffffff;
}

.Footer header p {
  color: #ffffff;
}

.Footer header.major:after {
  background-color: #ffffff;
}

.Footer .content {
  padding: 6.5em 0 4.5em 0;
  background-color: rgba(21, 27, 33, 0.6);
}

.Footer .content > .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  width: 70em;
}
/*
.Footer .content > .inner > * {
  padding-left: 3em;
  width: 55%;
}*/

.Footer .content > .inner .about {
  padding-left: 0;
  width: 50%;
}

.Footer .content > .inner .contact {
    padding-left: 0;
    width: 50%;
}

.content {
  display: block;
  padding: 6.5em 0 4.5em 0;
  background-color: rgba(21, 27, 33, 0.6);
  margin: 0;
  border: 0;
  font-size: 100%;
}

.inner {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  width: 70em;
}

.about {
  padding-left: 0;
  width: 50%;
  text-align: start;
}

.about p {
  width: 65%;
}

.contact {
  padding-left: 0;
  width: 50%;
  text-align: end;
}

ul.actions {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
  margin: 0 0 2em 0;
  padding: 0;
}

ul.actions li {
  padding: 0 0 0 0;
  vertical-align: middle;
}

.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.25em;
  line-height: 3.35em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.iconBulleted {
  padding-left: 3em;
  width: 100%;
  cursor: default;
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
}

.iconBulleted li {
  padding-left: 2em;
  position: relative;
  display: block;
  padding-right: 0;
  padding: 1rem 0;
  text-decoration: none;
  border-bottom: none;
  margin: 0;
}
/*
.iconBulleted li a {
  padding-left: 1rem;
}
*/
.Social {
  display: flex;
  margin: 0;
  padding: 0;
}

.Social a {
  font-size: 2rem;
  padding-left: 1.5rem;
}


p.copyright {
  font-size: 0.8em;
  margin: 0;
  padding: 3em 0;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  /*background-color: rgb(37, 121, 188);*/
}


.Footer .copyright {
  font-size: 0.8em;
  margin: 0;
  padding: 4em 0;
  text-align: center;
}

.Footer .copyright br {
  display: none;
}

.Footer .copyright a {
  color: inherit;
}

@media screen and (max-width: 1280px) {
  .Footer .content {
    padding: 5em 3em 3em 3em;
  }


  .Footer .content > .inner {
    width: 100%;
  }

  .Footer .content > .inner > * {
    width: 30%;
  }

  .Footer .content > .inner .about {
    width: 40%;
  }

  .Footer .content > .inner .contact {
    width: 40%;
  }

  .Footer .copyright {
    padding: 3em 0;
  }
}

@media screen and (max-width: 980px) {
  .Footer .content > .inner {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Footer .content > .inner > * {
    width: 50%;
    padding-left: 0;
  }

  .Footer .content > .inner .about {
    width: 100%;
    margin: 0 0 2em 0;
  }

  .Footer .content > .inner .contact {
    width: 100%;
    margin: 0 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  .Footer .content {
    padding: 2.5em 2em 0.5em 2em;
  }

  .Footer .copyright {
    padding: 2em 0;
  }
}

@media screen and (max-width: 480px) {
  .Footer .content {
    padding: 2.5em 1.5em 0.5em 1.5em;
  }

  .Footer .content > .inner > * {
    width: 100%;
  }

  .Footer .content > .inner .about {
    width: 100%;
    margin: 0 0 1em 0;
  }

  .Footer .content > .inner .contact {
    width: 100%;
    margin: 0 0 1em 0;
  }

  .about p{
    width: 80%;
  }

  ul.actions {
    margin: 0;
  }

  .Footer .copyright br {
    display: block;
  }

  .iconBulleted {
    margin: 0;
  }
}



body.is-mobile .Footer {
  background-attachment: scroll;
}
